.how-to-buy-container {
    color: #FFF;
    padding: 50px;
    font-family: 'DM Sans', sans-serif;
}

.how-to-buy-container h4 {
    text-align: center;
    font-size: 30px;
}

.how-to-buy-details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
}

.how-to-buy-image img {
    width: 350px;
}

.how-to-buy-text h5 {
    font-size: 16px;
    padding-bottom: 15px;
}

.how-to-buy-text .tag {
    border-radius: 50%;
}