.how-to-buy-container {
    color: #FFF;
    padding: 50px;
}

.how-to-buy-container h4 {
    text-align: center;
    font-size: 30px;
}

.how-to-buy-details {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.how-to-buy-image img {
    width: 350px;
}