.navbar-container {
    display: flex;
    height: 93px;
    background: #000;
    gap: 50%;
}

.navbar-logo img {
    width: 55px;
    margin-left: 20px;
    margin-top: 15px;
}

.menu-list ul {
    display: flex;
}

.menu-list ul li {
    list-style: none;
    margin: 19px 20px;
    color: #FFF;
}

.menu-list ul button {
    background: rgba(255, 255, 255, 0.08);
    height: 50px;
    width: 100px;
    color: #269AFE;
    font-size: 17px;
    border: none;
    border-radius: 30px;
}