.heropage-container {
    width: 100%;
    height: 400px;
    background: #000;
    position: absolute;
}

.heropage-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
}

.heropage-text {
    color: #FFF;
    margin-top: 150px;
    margin-left: 60px;
}

.line {
    margin: auto;
    display: block;
}

.heropage-image img {
    width: 600px;
}