.heropage-container {
    width: 100%;
    height: 600px;
    background: #000;
    position: absolute;
}

.heropage-details {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin-top: 100px;
}

.heropage-text {
    margin-top: 100px;
    margin-left: 60px;
    width: 45%;
}

.heropage-text h2 {
    font-size: 40px;
    font-weight: 800;
    color: #FFF;
}

.heropage-text p {
    color: #FFF;
    font-size: 15px;
    margin-bottom: 40px;
}

.heropage-text p span {
    color: #269AFE;
    font-weight: 500;
}

.line {
    margin: auto;
    display: block;
}

.heropage-image img {
    width: 650px;
}

.heropage-text a {
    text-decoration: none;
    background: #269AFE;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 20px;
}